body {
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

p {
  margin: 0;
}

//This will break
//Need to find another way to style this
// Make the styling aboslute to this part. Affects bootstrap common classes
// .col-2 {
//   background-color: $black-light;
//   position: relative;
// }

// .col-2 img {
//   transform: rotate(90deg);
//   margin: auto;
//   margin-top: 90px;
//   mix-blend-mode: lighten;
//   display: block;
// }

// .vl {
//   position: absolute;
//   height: 100vh;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border: 1px solid #eff1eb;
// }

.text-white {
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
  color: #eff1eb;
}

.btn-green {
  border-radius: 30px;
  border: none;
  background-color: $primary-color;
  padding: 18px 37px;
  color: #fbfafa;
}
.btn-secondary {
  border-radius: 30px;
  border: none;
  padding: 18px 37px;
  color: #000;
}
.cm-modal .modal-content {
  background-color: #424242;
}
.bold-primary-text {
  color: $primary-color;
  font-weight: bold;
}

.create-playlist-input {
  border: 0px;
  background-color: transparent;
  color: #fbfafa;
  border-bottom: 1px solid #fafafa;
}

.create-playlist-input:focus {
  outline: none;
}
