body {
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

.col-2 {
  background-color: $black-light;
  position: relative;
}

.col-2 img {
  transform: rotate(90deg);
  margin: auto;
  margin-top: 90px;
  mix-blend-mode: lighten;
  display: block;
}

.vl {
  position: absolute;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eff1eb;
}

.text-white {
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
  color: #eff1eb;
}

.btn-green {
  border-radius: 30px;
  border: none;
  background-color: $primary-color;
  padding: 18px 37px;
  color: #fbfafa;
}
.btn-secondary {
  border-radius: 30px;
  border: none;
  padding: 18px 37px;
  color: #000;
}
.cm-modal .modal-content {
  background-color: #424242;
}

@media screen and (max-width: 1275px) {
  .about p {
    width: 95%;
    max-width: none;
  }
}
